{{>header}}
    <title>{{filename}}</title>
</head>
<body>
  <form action="" method="post" name="edtr">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Edtr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="nav-link nav-button" type="submit" name='new'>New</button>
            </li>
            <li class="nav-item">
              <button class="nav-link nav-button" type="submit" name="save">Save</button>
            </li>
            <!--<li class="nav-item">
                  <button class="nav-link  nav-button" type="submit" name="saveas">Save as</button>
            </li>-->
          </ul>
          
      </nav>

        <textarea  name="text" rows='500' class="form-control full-height" aria-label="With textarea">{{filedata}}</textarea>
    </form>
    <form action="" method="post" name="dsafads">
      <input type="text" name="dfds">
      <button type="submit" name="fefe">hello</button>
    </form>
  
</body>
</html>